<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	{% if messages %}
		{% for message in messages %}
			{%if message.tags == 'error' %}
				<p style="color:red">{{message}}</p>
			{%endif%}
			{%if message.tags == 'success' %}
				<p style="color:green">{{message}}</p>
			{%endif%}
		{% endfor %}
	{%endif%}





	<h3>Register Here:</h3>
	<div style="outline: thin  solid black; height: 160px; width: 200px; ">
		<form action="/register" method="post">
			{% csrf_token %}
			<input type='text' name='first_name' placeholder="Enter your first name"><br>
			<input type='text' name='last_name' placeholder="Enter your last name"><br>
			<input type='text' name='email' placeholder="Enter your email"><br>
			<input type='text' name='password' placeholder="Enter a password"><br>
			<input type='text' name='c_password' placeholder="Confirm your password."><br>
			<input type="submit" value='Click here to Register!'>
		</form>
	</div>
	<h3>Login Here:</h3>
	<div style="outline: thin  solid black; height: 200px; width: 200px;">
		<form action="/login" method="post">
			{% csrf_token %}
			<input type='text' name='email' placeholder="Enter your email"><br>
			<input type='text' name='password' placeholder="Enter a password"><br>
			<input type="submit" value='Click here to Login!'>
		</form>
	</div>

</body>
</html>